extends layoutBS

block content

  h1 SkillMastery Dashboard
  - console.log("underscore = "+(_))



  if status=='teacher' || status=='ta'
    p
      | TAs should try to grade about as much as everyone else
      | Don't worry about grading only your students
      | The goal is to provide feedback as fast as possible
    h1 TA activity
    table.table.table-striped.table-bordered
      thead
        tr
          th Evidence Graded
          th TA email
      tbody
        each ta in taData
          tr
            td #{ta.count}
            td #{ta._id}


  h1 Student Activity
  form(method="post" action="/updateTA")
    table.table.table-bordered.table-striped
      thead
        tr
          td Name (Link to Evidence)
          td Skills Status
      tbody
        each u in users
          tr
            td
              a(href="/usersByEmail/"+u._id) #{u._id}
            td
              ol
                each e in u.evidence
                  li
                    b  #{e.skill}:
                    i(class=e.accept)  #{e.accept}
                    i  (#{e.ed})
