extends layoutBS

block content
  div.jumbotron
    h1 SkillMastery
    if loggedIn
        p Enroll in a class with a 7 digit pin:
        form(method="post" action="enroll")
          input(type="text" rows="100%" name="pin")
          input(type="submit" value="add class")
  if loggedIn
    br
    h2 Classes
    ol
      each classV in classes
        li
          a.btn.btn-primary.btn-sm(href="class/"+classV.pin)
            | #{classV.code}
          |   pin: #{classV.pin} ownerEmail: #{classV.ownerEmail}
        br
    //-
      a.btn.btn-danger(href="/auth/google")
        span.fa.fa-google-plus  Google
      br
      | logged in "#{loggedIn}"
      br
      | user: "#{(user&&user.googlename)}"
      br
      || This should be in a comment!
