extends layoutBS

block content

  h1 SkillMastery User
  ul
    li
      | name: #{student.googlename}
    li
      | email: #{student.googleemail}
  h2 Review Evidence

  table.table.table-bordered
    thead
      tr
        th status
        th skill
        th date
    tbody
      each e in evidence
        tr(class=e.accepted)
          //- td
            input(name="evidenceID" value=e._id type="checkbox")
            td #{e.student} --
            td #{e.skill}
          td #{e.accepted}
          td
            a(href="/evidenceItem/"+e._id)
              | #{e.skill}
          td #{e.evidenceDate}
  //- input(type="submit" value="Delete checked items")
  hr
